Package: com.janshai.fleetingchances
Name: FleetingChances
Version: 0.0.1
Architecture: iphoneos-arm
Description: Disables fleets in the twitter app
Maintainer: Janshai
Author: Janshai
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
